@import "tailwindcss";

/* Custom base styles */
@layer base {
  body {
    @apply bg-slate-50 text-slate-900 antialiased;
  }
}

/* Custom utility classes */
@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
